.content .nav-list,.content .video-list{
    width: 360px;
    margin: 0 auto;
    padding-top: 15px;
}
.nav-list a, .video-list a{
    float: left;
    width: 170px;
    height: 95px;
    margin: 0 4px 9px 5px;
    text-align: center;
}
.nav-list a img{
    width: 100%;
}
.nav-list .service{
    width: 349px;
    height: 54px;
    margin-top: -3px;
}
 .video-list a{
    height: 96px;
    text-align: center;
    margin-bottom: 12px;
    background: url(../img/border-bg.png) no-repeat;
    background-size: 170px;
}
.video-list a img{
    width: 165px;
    height: 90px;
    margin-top: 1px;
    border-radius: 4px;
}
.content h2{
    margin-top: 20px;
}